enlace_MQTT_Node-red/node_red_flow.json
[{"id":"225d09db4fc5176a","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"6685cd162313bb90","type":"mqtt in","z":"225d09db4fc5176a","name":"","topic":"temp","qos":"2","datatype":"auto-detect","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":110,"y":180,"wires":[["5240bacdc95e4e70","151aec37f9a343da"]]},{"id":"81e1a660371a3f03","type":"mqtt in","z":"225d09db4fc5176a","name":"","topic":"acelX","qos":"2","datatype":"auto-detect","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":110,"y":220,"wires":[["bb7380faa83e9e57"]]},{"id":"65a4e608fba38b8e","type":"mqtt in","z":"225d09db4fc5176a","name":"","topic":"acelY","qos":"2","datatype":"auto-detect","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":110,"y":260,"wires":[["b9140d1058912927"]]},{"id":"42d739ef555274ec","type":"mqtt in","z":"225d09db4fc5176a","name":"","topic":"acelZ","qos":"2","datatype":"auto-detect","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":110,"y":300,"wires":[["cc4d6fc0fa526d18"]]},{"id":"317e7208378d1bc1","type":"mqtt in","z":"225d09db4fc5176a","name":"","topic":"Pluv","qos":"2","datatype":"auto-detect","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":110,"y":340,"wires":[["dc7b5075586ed12c"]]},{"id":"5240bacdc95e4e70","type":"ui_gauge","z":"225d09db4fc5176a","name":"","group":"ce713a09c9a3e89c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":330,"y":180,"wires":[]},{"id":"bb7380faa83e9e57","type":"ui_gauge","z":"225d09db4fc5176a","name":"","group":"ce713a09c9a3e89c","order":2,"width":0,"height":0,"gtype":"gage","title":"Aceleracion eje X","label":"units","format":"{{value}}","min":"-5","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":350,"y":220,"wires":[]},{"id":"b9140d1058912927","type":"ui_gauge","z":"225d09db4fc5176a","name":"","group":"ce713a09c9a3e89c","order":3,"width":0,"height":0,"gtype":"gage","title":"Aceleracion eje Y","label":"units","format":"{{value}}","min":"-5","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":350,"y":260,"wires":[]},{"id":"cc4d6fc0fa526d18","type":"ui_gauge","z":"225d09db4fc5176a","name":"","group":"ce713a09c9a3e89c","order":4,"width":0,"height":0,"gtype":"gage","title":"Aceleracion eje Z","label":"units","format":"{{value}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":350,"y":300,"wires":[]},{"id":"dc7b5075586ed12c","type":"ui_gauge","z":"225d09db4fc5176a","name":"","group":"ce713a09c9a3e89c","order":5,"width":0,"height":0,"gtype":"compass","title":"Pluviometro","label":"units","format":"{{value}}","min":"-40","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":330,"y":340,"wires":[]},{"id":"ef42c768b444872c","type":"mqtt in","z":"225d09db4fc5176a","name":"","topic":"Latitud","qos":"2","datatype":"auto-detect","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":110,"y":380,"wires":[["d14537cfa680fbc9"]]},{"id":"1f2e15c409489935","type":"mqtt in","z":"225d09db4fc5176a","name":"","topic":"Longitud","qos":"2","datatype":"auto-detect","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":120,"y":420,"wires":[["b2cb32110e0e20f5"]]},{"id":"2cece3cf59c9de2a","type":"mqtt in","z":"225d09db4fc5176a","name":"","topic":"Fecha","qos":"2","datatype":"auto-detect","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":110,"y":460,"wires":[["a47230b114d84846"]]},{"id":"9ed4dd4bc8463f41","type":"mqtt in","z":"225d09db4fc5176a","name":"","topic":"Hora","qos":"2","datatype":"auto-detect","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":110,"y":500,"wires":[["894391ada1f546f5"]]},{"id":"d14537cfa680fbc9","type":"ui_text","z":"225d09db4fc5176a","group":"ce713a09c9a3e89c","order":6,"width":0,"height":0,"name":"","label":"Latitud","format":"{{msg.payload}}","layout":"col-center","className":"","x":330,"y":380,"wires":[]},{"id":"b2cb32110e0e20f5","type":"ui_text","z":"225d09db4fc5176a","group":"ce713a09c9a3e89c","order":7,"width":0,"height":0,"name":"","label":"Longitud","format":"{{msg.payload}}","layout":"col-center","className":"","x":340,"y":420,"wires":[]},{"id":"a47230b114d84846","type":"ui_text","z":"225d09db4fc5176a","group":"ce713a09c9a3e89c","order":8,"width":0,"height":0,"name":"","label":"Fecha","format":"{{msg.payload}}","layout":"col-center","className":"","x":330,"y":460,"wires":[]},{"id":"894391ada1f546f5","type":"ui_text","z":"225d09db4fc5176a","group":"ce713a09c9a3e89c","order":9,"width":0,"height":0,"name":"","label":"Hora","format":"{{msg.payload}}","layout":"col-center","className":"","x":330,"y":500,"wires":[]},{"id":"151aec37f9a343da","type":"ui_chart","z":"225d09db4fc5176a","name":"","group":"ce713a09c9a3e89c","order":10,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":180,"wires":[[]]},{"id":"b9027c59fe6081f2","type":"mqtt in","z":"225d09db4fc5176a","name":"","topic":"hello","qos":"2","datatype":"auto","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":160,"y":640,"wires":[["dba910e86773c2de"]]},{"id":"d79e67f38af0edd9","type":"mqtt out","z":"225d09db4fc5176a","name":"","topic":"notification","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64f4635e02ea4ddb","x":400,"y":740,"wires":[]},{"id":"dba910e86773c2de","type":"debug","z":"225d09db4fc5176a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":640,"wires":[]},{"id":"02989111eb7907aa","type":"inject","z":"225d09db4fc5176a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola desde el node-red","payloadType":"str","x":180,"y":720,"wires":[["d79e67f38af0edd9"]]},{"id":"64f4635e02ea4ddb","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ce713a09c9a3e89c","type":"ui_group","name":"Default","tab":"37f5d64f5f50ce7c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"37f5d64f5f50ce7c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]